color_logo = #59B200

a
	color color_logo

body
	/*font-family 'Open Sans', sans-serif*/
	font-family 'Raleway', sans-serif
	// background-color #E9F7EF
		
// table td
	// cursor pointer

table th
	text-align center

.page-footer
	background-color color_logo

#contenido_principal
	// background-color #E9F7EF
	margin-top 120px
	margin-bottom 10px
	min-height 100%

@media (max-width: 420px)
	#contenido_principal
		margin-top 130px

@media (min-width: 640px)
	.nav-extended
		overflow hidden
		position fixed

.nav-extended
	background-color color_logo
	top 0
	padding 50
	z-index 99