color_logo = #59B200

a
	color #3F7FC1
	
	:hover
		color color_logo
		
body
	/*font-family 'Open Sans', sans-serif*/
	font-family 'Raleway', sans-serif
	// background-color #E9F7EF
		
#contenido_principal
	// background-color #E9F7EF
	margin-top 10px
	margin-bottom 10px
	min-height 100%
	text-align center

.boton_agregar
	background-color color_logo

.fixed-action-btn
	:hover
		color white

.page-footer
	background-color color_logo

@media (min-width: 400px)
	#contenido_principal
		margin-top 10px

@media (min-width: 640px)
	#contenido_principal
		margin-top 120px
		
	.nav-extended
		overflow hidden
		position fixed

.nav-extended
	background-color color_logo
	top 0
	padding 50
	z-index 99
	
.ajax-load{
    background: #e1e1e1;
    padding: 10px 0px;
    width: 100%;
}