color_logo = #59B200

body
	/*font-family 'Open Sans', sans-serif*/
	font-family 'Raleway', sans-serif

.page-footer
	background-color color_logo

#contenido_principal
	margin-top 80px

@media (max-width: 400px)
	#contenido_principal
		margin-top 130px

.nav-extended
	background-color color_logo
	display inline
	overflow hidden
	position fixed
	top 0